.nav {
  &__list {
    position: absolute;
    z-index: 888888;
    display: flex;
    align-items: center;
    &--item {
      padding-right: 0.5rem;
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}
